.input-container {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

h2.form-title {
  text-align: center;
  margin-bottom: 2rem;
}
.registration-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  .registration-form h2{
    font-size: 3rem;
  }

  .input-field {
    margin: 10px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: start;
    width: 100%;
    font-weight: 500;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;

  }
  input:focus {

    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);

  }

  .register-button {
    background-color: rgb(48, 48, 182);
    margin: 10px 0;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 100px;
  }
  