.product {
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;  
  cursor: pointer;
}

.product:hover {
  transform: translateY(-5px);
}

.product div {
  background-color: antiquewhite;
  border-radius: 5px;

}

.product-img img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

